SMTPprotocol = "smtp"
SMTPhost = "smtpserver"
SMTPport = "port"
RCVprotocol = "receiver protocol"
RCVhost = "Receiver server"
RCVport = "receiver port"
login = "login"
password = "password"
SMTPauth = "false"
SMTPstarttls = "false"
SMTPsslenable = "false"
SMTPssltrust = "Trustable hosts - set "*" to trust all"
SMTPsslprotocol = "SSL protocols suported (this prop can be null)"
RCVauth = "false"
RCVstarttls = "false"
RCVsslenable = "false"
RCVssltrust = "Trustable hosts - set "*" to trust all"
RCVsslprotocol = "SSL protocols suported (this prop can be null)"